.navbar {
  align-items: center;
  background-color: #0e232e;
  color: #FFF;
  display: flex;
  flex-wrap: nowrap;
  height: 6rem;
  justify-content: space-between;
}

.logo {
  padding-left: 1.75rem;
  height: 78px;
}

.navlinks {
  display: flex;
}

.navlinks > a {
  color: #FFF;
  padding: 2rem;
  text-decoration: none;
  font-family: 'Red Hat Display', sans-serif; 
  font-size: 1.5rem;
}

.icon {
  padding: 10px;
}