.background {
  filter: brightness(85%);
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.float {
  display: flex;
  justify-content: flex-end;
}

.blurb {
  color: #FFF;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 4rem;
  height: 50%;
  margin: 5rem;
  text-align: right;
  width: 50%;

}